* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans", sans-serif; /*для остального*/
  font-family: "Playfair Display", serif; /*для заголовков*/
}
p {
  font-family: "Noto Sans", sans-serif;
}
h {
  font-family: "Playfair Display", serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.header__menu_btn {
  display: none;
}
/*header start*/
header {
  padding: 45px 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.header__li_a {
  font-family: "Noto Sans";
  color: #c3b9b5;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.header__city {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  border: none;
}
.header__city-p {
  color: var(--orange, #ffc59e);
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}
.header__li_a:hover {
  color: var(--brown, #59443f);
}
.city {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.city__blocks {
  z-index: 3;
  position: relative;
  width: 400px;
  height: 250px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 2px 2px 20px 0px rgba(155, 82, 50, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.city__block {
  display: none;
}
.city__img {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}
.city__h {
  color: var(--text, #080606);
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
}
.city__a {
  color: var(--text, #080606);
  font-family: Noto Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}
.city__a:hover {
  color: #ffc59e;
}
/*header end*/

/*buttons start*/
.buttons {
  padding: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.button {
  position: relative;
  padding: 20px;
  width: 320px;
  height: 220px;
  border-radius: 20px;
  background: var(--bg, #fffefe);
  box-shadow: 2px 2px 20px 0px rgba(155, 82, 50, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.button:hover {
  border: 1px solid black;
}
.button:hover svg path {
  fill: #59443f;
}
.button__h {
  color: var(--brown, #59443f);
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
}
.button svg {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.button__services {
  color: var(--brown, #59443f);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}
/*buttons end*/

/*application start*/
.application {
  width: 100%;
  height: 1080px;
  padding: 100px;
  background-color: #ffc59e;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.application__block_text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.text_p {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 20px;
}
.text_h {
  color: #fff;
  font-size: 80px;
  font-weight: 400;
  line-height: 110px;
  z-index: 3;
}
.text__block_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.application__img_dog {
  position: absolute;
  right: 200px;
}
.application__img_phone {
  position: absolute;
  right: 0;
}
/*application end*/

/*contacts start*/
.contacts {
  height: 1080px;
  padding: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.contacts__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.contacts__h {
  color: var(--text, #080606);
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}
.contacts__block_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contacts__text_h {
  color: var(--text, #080606);
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
}
.contacts__text_adress {
  width: 318px;
  color: var(--brown, #59443f);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.contacts__text_tel {
  color: var(--brown, #59443f);
  font-size: 40px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
}
.contacts__text_tel:hover {
  color: aqua;
}
.contacts__text_time {
  color: var(--brown, #59443f);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.contacts__img iframe {
  width: 950px;
  height: 526px;
}
/*contacts end*/

/*work start*/
.work {
  position: relative;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.work__h {
  color: var(--brown, #59443f);
  font-size: 144px;
  font-weight: 700;
  line-height: 110px;
}
.work__p {
  width: 600px;
  color: var(--text, #080606);
  font-size: 80px;
  font-weight: 400;
  line-height: 110px;
}
.work__img {
  right: 400px;
  bottom: 0;
  position: absolute;
  z-index: -3;
}
/*work end*/

/*pros start*/
.pros {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.pros__h {
  color: var(--text, #080606);
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}
.pros__block-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.pros__block {
  width: 484px;
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 15px;
}
.pros__block_h {
  color: var(--text, #080606);
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
}
.pros__block_flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.pros__block_p {
  width: 318px;
  color: var(--brown, #59443f);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
/*pros end*/

/*footer start*/
footer {
  height: 469px;
  background: var(--brown, #59443f);
  padding: 50px;
}
.footer__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.footer__text_flex {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 30px;
}
.flex__block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer__text_block {
  width: 220px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
}
.footer__text_block:hover {
  color: aqua;
}
.footer__link_a:hover {
  color: aqua;
}
.footer__btn_flex {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer__btn_search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.block__link_block {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer__link_a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.footer__btn_p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
/*footer end*/

/*company start*/
.company {
  height: 1080px;
  background: #fbf8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.company__h {
  color: var(--text, #080606);
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}
.company__p {
  width: 479px;
  color: var(--brown, #59443f);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.company__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.company__btn:hover .company__btn_p {
  color: #59443f;
}
.company__btn:hover svg path {
  fill: #59443f;
  stroke: #59443f;
}
.company__btn_p {
  color: #ffc59e;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}
.company__block_img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
/*company end*/

/*welcome start*/
.welcome__blocks {
  width: 100%;
  height: 820px;
  overflow: hidden;
}
.welcome__flex {
  height: 820px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.welcome__btn_flex {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.welcome__btn {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #c3b9b5;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  background-color: transparent;
  border: none;
}
.welcome__btn:hover {
  color: #59443f;
}
.welcome__btn_start {
  border: 2px solid #59443f;
  border-radius: 50%;
  color: #59443f;
}
.welcome__block {
  position: relative;
  width: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.welcome__block_text {
  position: absolute;
  left: -600px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.welcome_text_h {
  z-index: 3;
  width: 500px;
  color: var(--text, #080606);
  font-size: 80px;
  font-weight: 400;
  line-height: 110px;
}
.welcome_text_btn {
  width: 284.534px;
  height: 67px;
  border-radius: 33.5px;
  background: var(--orange, #ffc59e);
  box-shadow: 0px 4px 20px 0px #ffc59e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  cursor: pointer;
}
.welcome_text_btn_a {
  font-family: "Noto Sans";
  color: #fff;
  text-decoration: none;
}
.welcome__block_img {
  position: absolute;
  right: 0;
}
.welcome_text_a {
  position: absolute;
  right: 50px;
  bottom: -300px;
  color: #59443f;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}
.welcome_text_a:hover {
  color: aqua;
}
/*welcome end*/
@media (max-width: 1460px) {
  .welcome__block_text {
    z-index: 3;
    position: absolute;
    left: -500px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
  .text_h {
    width: 500px;
    font-size: 50px;
    line-height: 50px;
  }
  .contacts__img iframe {
    width: 650px;
    height: 526px;
  }
}
@media (max-width: 1321px) {
  .contacts {
    padding: 50px;
  }
  .welcome__block_text {
    left: -400px;
  }
}
@media (max-width: 1261px) {
  .welcome__block_text {
    left: -300px;
  }
  .contacts__text_h {
    width: 150px;
  }
}
@media (max-width: 1167px) {
  .footer__text_block {
    width: 140px;
    font-size: 14px;
  }
  .contacts__text_h {
    font-size: 22px;
  }
  .application {
    padding: 20px;
  }
  .work__h {
    font-size: 120px;
  }
  .work__p {
    width: 450px;
    font-size: 60px;
    line-height: 90px;
  }
  .company__img {
    width: 150px;
    height: 150px;
  }
  .welcome__block_text {
    left: -200px;
  }
  .header__menu {
    display: none;
  }
  .header__menu_btn {
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: 3px solid #ffc59e;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffc59e;
    font-size: 18px;
  }
}
@media (max-width: 1057px) {
  .welcome__block_text {
    left: 0;
  }
  .welcome_text_h {
    font-size: 50px;
    line-height: 80px;
  }
  .application__img_dog {
    display: none;
  }
  .contacts__img iframe {
    width: 450px;
    height: 326px;
  }
}
@media (max-width: 1000px) {
  .text__block_btn {
    display: none;
  }
  .contacts {
    flex-direction: column;
  }
  footer {
    height: 369px;
  }
  .company__img {
    width: 100px;
    height: 100px;
  }
  .company__p {
    font-size: 16px;
  }
  .welcome__block_text {
    left: 25%;
  }
}
@media (max-width: 765px) {
  .flex__block {
    display: none;
  }
  .footer__text {
    justify-content: center;
  }
  footer {
    height: 269px;
  }
  .contacts__text_adress {
    width: auto;
  }
  .contacts__block_text {
    justify-content: center;
    align-items: center;
  }
  .contacts__text {
    align-items: center;
  }
  .application__img_phone {
    display: none;
  }
  .application__block_text {
    align-items: center;
  }
  .application {
    height: 580px;
    justify-content: center;
  }
  .text_h {
    text-align: center;
  }
  .pros__h {
    font-size: 30px;
  }
  .work__h {
    font-size: 80px;
  }
  .work__p {
    width: 350px;
    font-size: 40px;
    line-height: 50px;
  }
  .work__img {
    right: 40px;
  }
  .buttons {
    flex-direction: column;
  }
  .welcome__block_img {
    z-index: -3;
    right: -100px;
  }
  .welcome_text_a {
    right: 100px;
  }
}
