* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans", sans-serif; /*для остального*/
  font-family: "Playfair Display", serif; /*для заголовков*/
}
p {
  font-family: "Noto Sans", sans-serif;
}
h {
  font-family: "Playfair Display", serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/*header start*/
header {
  padding: 45px 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.header__li_a {
  font-family: "Noto Sans";
  color: var(--brown-light, #c3b9b5);
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.header__city {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  border: none;
}
.header__city-p {
  color: var(--orange, #ffc59e);
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}
.header__li_a:hover {
  color: var(--brown, #59443f);
}
.city {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.city__blocks {
  position: relative;
  width: 400px;
  height: 250px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 2px 2px 20px 0px rgba(155, 82, 50, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.city__block {
  display: none;
}
.city__img {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}
.city__h {
  color: var(--text, #080606);
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
}
.city__a {
  color: var(--text, #080606);
  font-family: Noto Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}
.city__a:hover {
  color: #ffc59e;
}
/*header end*/

/*buttons start*/
.buttons {
  padding: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.button {
  position: relative;
  padding: 20px;
  width: 320px;
  height: 220px;
  border-radius: 20px;
  background: var(--bg, #fffefe);
  box-shadow: 2px 2px 20px 0px rgba(155, 82, 50, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.button:hover {
  border: 1px solid black;
}
.button:hover svg path {
  fill: #59443f;
}
.button__h {
  color: var(--brown, #59443f);
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
}
.button svg {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.button__services {
  color: var(--brown, #59443f);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
}
/*buttons end*/

/*application start*/
.application {
  width: 100%;
  height: 1080px;
  padding: 100px;
  background-color: #ffc59e;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.application__block_text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.text_p {
  color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 20px;
}
.text_h {
  color: #fff;
  font-size: 80px;
  font-weight: 400;
  line-height: 110px;
  z-index: 3;
}
.text__block_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.application__img_dog {
  position: absolute;
  right: 200px;
}
.application__img_phone {
  position: absolute;
  right: 0;
}
/*application end*/

/*contacts start*/
.contacts {
  height: 1080px;
  padding: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.contacts__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.contacts__h {
  color: var(--text, #080606);
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}
.contacts__block_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contacts__text_h {
  color: var(--text, #080606);
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
}
.contacts__text_adress {
  width: 318px;
  color: var(--brown, #59443f);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.contacts__text_tel {
  color: var(--brown, #59443f);
  font-size: 40px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
}
.contacts__text_tel:hover {
  color: aqua;
}
.contacts__text_time {
  color: var(--brown, #59443f);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.contacts__img iframe {
  width: 950px;
  height: 526px;
}
/*contacts end*/
